body {
    font-family: 'Monomaniac One', serif;
    background-image: url('/main-bg.png');
    background-size: cover;

    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    padding-top: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}
