/* Menu Styles */
.menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 3rem;
    background: transparent;

    font-weight: bold;
}

/* Logo */
.menu img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

/* Navigation Options */
.options {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.options a,
a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #dcdcdc;
}

a.inactive {
    font-weight: normal;
}

a.active {
    font-weight: bold;
    color: #a7a7a7;
}

/* Menu Button */
#menu-btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;

    color: white;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 1.5rem;

    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition:
        background-color 0.2s,
        border-color 0.2s;
}

#menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ddd;
}
