/* Menu Styles */
.menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 3rem 1rem 1rem;

    font-weight: bold;
}

/* Logo Image */
.menu img {
    width: 200px;
    height: 100px;
}

/* Options */
.options {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.options > a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding-right: 3rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a.active {
    font-size: 2rem;
    color: #a7a7a7;
}

#menu-btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-transform: lowercase;
    padding: 1rem 3rem;
    font-size: 1.5rem;
}
