.settings-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.settings {
    border: 3px solid white;
    border-radius: 10px;
    max-width: 80%;
    left: 50%;
    padding: 5rem;
    color: white;
}

h2 {
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.delete {
    padding-top: 3rem;
}

#settings-btn {
    border-radius: 10px;
    font-family: 'Monomaniac One';
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
}
