.page {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
}

.page > .content {
    position: absolute;
    top: 0;
    left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 60%;
    height: 100%;

    /* background-color: #d4d4d4; */
    border: 20px solid #d4d4d4;
}

.form-content {
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;

    border: 10px solid rgb(205, 126, 16);
    width: 100%;
}

h2 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

    /* padding-bottom: 3rem; */
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

input {
    border: 2px solid rgb(205, 126, 16);
    border-radius: 10px;
    color: rgb(205, 126, 16);
    width: 20rem;
    padding: 1rem;
}

.error-msg {
    color: rgb(205, 126, 16);
    max-width: 20rem;
}

button {
    border-radius: 30px;
    padding: 1rem 2rem;
    width: auto;
    align-self: center;

    font-family: 'MuseoModerno', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.signup-btn {
    background-color: white;
    border: 2px solid white;
    color: black;
}

.signup-btn:hover {
    background-color: #d4d4d4;
    border-color: #d4d4d4;
}

.form-content > p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.link {
    color: white;
    font-weight: bold;
    padding-left: 0.5rem;
}

.link:hover {
    color: #d4d4d4;
}
