.error-page {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.error-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

h3 {
    color: white;
}

#error-btn {
    text-transform: capitalize;
}
